* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
   
}

.header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    color: #2a2a72;
    font-weight: bold;
}

.header nav a {
    margin: 0 15px;
    color: #2a2a72;
    text-decoration: none;
    font-size: 16px;
}

.header .create-account {
    background-color: #5263f3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.create-account:hover{
    background-color: #2a2a72;
}

.about-us {
    background-color: #fff;
   
    padding: 20px;
    
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.about-content {
    display: flex;
    align-items: flex-start;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
}

.text-container {
    margin-left: 20px;
    max-width: 600px;
}

.text-container h2 {
    color: #333;
    margin-bottom: 10px;
}

.text-container h3 {
    color: #0044cc;
    margin-top: 20px;
}

.why-choose-us {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.why-choose-us h2 {
    text-align: center;
    color: #0044cc;
    margin-bottom: 20px;
}

.reasons {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.reason {
    width: 30%;
    padding: 10px;
}

.reason h3 {
    color: #333;
}

.reason p {
    margin-top: 10px;
    color: #666;
}
footer {
    color:#4B5563;
   background-color: #e0e0e0;
    text-align: center;
    
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section p {
    color: #4B5563;
}

.footer-bottom {
    background-color:#e0e0e0;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #4B5563;
}
