<form method="post" action="/Home/CreateCheckoutSession">
    <!-- Form fields -->
    <div>
        <label for="name">Amount:</label>
        <input type="text" id="amount" name="amount" value="" />
    </div>


    <!-- Submit button -->
    <button type="submit">Checkout</button>
</form>