@model ClinicManagementSystem.Models.Medication

@{
    ViewData["Title"] = "Create Medication";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";

}

<h2>Create Medication</h2>

<form asp-action="Create" asp-controller="Medication" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="MedicationName"></label>
        <input asp-for="MedicationName" class="form-control" required />
        <span asp-validation-for="MedicationName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DosageForm"></label>
        <input asp-for="DosageForm" class="form-control" />
        <span asp-validation-for="DosageForm" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Manufacturer"></label>
        <input asp-for="Manufacturer" class="form-control" />
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageData"></label>
        <input asp-for="ImageData" type="file" class="form-control" />
        <span asp-validation-for="ImageData" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
</form>

<a asp-action="Medications" class="btn btn-secondary">Back to Medications</a>
