@model ClinicManagementSystem.Models.MedicalRecord
@{
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";

}

<h2>Delete Medical Record</h2>

<p>Are you sure you want to delete this medical record for Patient ID: @Model.PatientID?</p>

<form asp-action="DeleteConfirmed" asp-controller="MedicalRecords" method="post">
    <input type="hidden" asp-for="ID" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index","MedicalRecords")" class="btn btn-secondary">Cancel</a>
</form>
